html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

body {
  padding-top: 82.5px;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Navbar */

.first {
  font-family: 'bilbo', serif;
  font-size: 2.4rem;
  margin: 0 0 0.2rem 0rem;
  color: white;

}

.last {
  font-family: 'Marcellus SC', serif;
  font-size: 1.75rem;
  color: white;
  letter-spacing: 1px;
}

#name span {
  display: block;
}

#name span:hover {
  color: rgb(255,22,177) !important;
  background-color: black !important; /*rgb(22,39,232) !important;*/
}

#name a:hover {
  text-decoration: none !important;
}

.nav li a:hover {
  color: rgb(255,22,177) !important;
  background-color: black !important; /*rgb(22,39,232) !important;*/
  text-decoration: none !important;
}

.navbar {
  background-color: black; /*rgb(22,39,232);*/
  padding: 0.25rem 1rem 0.75rem 1rem;
  color: white;
  text-align: center;
  margin-bottom: 0;
  border: none;
}

.navbar-brand p {
  margin-left: 1rem;
}

.navbar-nav a {
  color: white !important;
  font-size: 1.1rem;
  margin-top: 8px;
  font-family:
}

.active a {
  background-color: black !important; /*rgb(22,39,232) !important;*/
  color: rgb(255,22,177) !important;
}

#SRP {
  display: none;
}

/* Navbar Mobile */

@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 0.9rem;
    padding: 0;
    position: static;
    top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .navbar-nav a {
    color: white !important;
    /*font-family: "oregano";*/
    font-size: 1rem;
    margin: 0.4rem !important;
    padding: 0 !important;
}

body {
  padding-top: 0px;
}

  #Home {
    display: none;
  }

  #SRP {
    display: inline;

  }

  #SRP .first {
    padding-right: 0.3rem;
    color: rgb(255,22,177) !important;
    font-size: 1.75rem;

  }

  #SRP .last {
    color: rgb(255,22,177) !important;
    font-size: 1.5rem;
  }

}


/* Art Energy Design section */

.art {
  margin: 0;
  font-family: 'Marcellus SC', serif;
  color: rgb(255,22,177);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  text-align: center;
}

.art p a {
  color: black;
  font-size: 3.5rem;
}

.art p {
  color: black;
  font-size: 3.5rem;
}

.art a:hover {
  color: rgb(255,22,177) !important;
}

@media only screen and (max-width: 1080px) {
  .art {
    font-size: 4rem;
    max-width: 100%;

  }

}

@media only screen and (max-width: 768px) {
  .art {
    font-size: 1.75rem;
    max-width: 100%;
    margin-bottom: 0;
    letter-spacing: normal;
  }

}

/* Jumbotron */

.jumbotron {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  height: 39rem;
  color: white;
  border: none;
}

.jumbotron p {
  font-size: 2rem;
  max-width: 100%;
}

.jumbotron h1 {
  margin-top: 15rem;
}

.one {
  background-image: url("../images/carouselone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.two {
  background-image: url("../images/carouseltwo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.three {
  background-image: url("../images/carouselthree.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.four {
  background-image: url("../images/carouselfour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.five {
  background-image: url("../images/carouselfive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.six {
  background-image: url("../images/carouselsix.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.seven {
  background-image: url("../images/carouselseven.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.eight {
  background-image: url("../images/carouseleight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.nine {
  background-image: url("../images/carouselnine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}



@media only screen and (max-width: 768px) {
  .jumbotron {
    height: 20rem;
  }
  .jumbotron h1 {
    margin-top: 6rem;
  }

}

/*Projects section */

#projects {
  margin-top: 1.5rem;
}

#projects h2 {
  color: rgb(43,14,120);
  font-family: "marcellus sc";
  padding: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

#projects h3 {
  text-align: center;
}

.image-container {
  overflow: hidden;
  max-width: 100%;
  height: 18rem;
  text-align: center;

}

.image-container img {
  max-width: 100%;
  height: 100%;
}

.acd h3 {
  font-family: "oregano";
  color: rgb(255,22,177);
  font-size: 3rem;
  text-align: left;
}

.acd a h3:hover {
  color: rgb(42,219,255) !important;
}

.acd a:hover {
  color: rgb(42,219,255) !important;
}

.acd p {
  color: rgb(43,14,120);
  font-size: 1.5rem;
  font-family: "marcellus sc", serif;
  text-align: center;

}

#two {
  font-family: "open-sans", serif;
}

.acd i {
  font-style: italic;
  color: rgb(43,14,120);
  font-size: 2rem;
  font-family: "oregano", serif;
}

@media only screen and (max-width: 768px) {
  #projects {
    text-align: center;
  }
  .image-container {
    margin-bottom: 0;
  }
  #projects h3 {
    margin: 0;
  }
  .acd {
    margin-bottom: 2rem;
  }

}

/*Footer */

.footer {
  background-color: black; /*rgb(42,219,255);*/
  color: white;
  margin-top: 3rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.footer .first {
  margin: 1rem 0.5rem 3rem 0.5rem;
  text-shadow: 1px 1px rgb(255,22,177);
  font-size: 2.5rem;

}

.footer .last {
  text-shadow: 1px 1px rgb(255,22,177);
  font-size: 2.5rem;
}

.footer ul {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 0.5rem;
}

#copy {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
}

.footer a {
  color: white;
  text-shadow: 1px 1px rgb(43,14,120);

}

.footer i {
  padding: 0.5rem 1rem 0 1rem;
}

#lawson a {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
  color: white;
  text-shadow: none;
}

@media only screen and (max-width: 768px) {
  .footer .first {
    font-size: 1.5rem;

  }

  .footer .last {
    font-size: 1.5rem;
  }

  .footer ul {
    font-size: 1rem;
  }

  #copy {
    font-size: 0.6rem;
  }

    #lawson a {
      font-size: 0.6rem;
    }

}

/* Art Page */

.artwork .image-container {
  margin-bottom: 1rem;
}

#artwork h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

#artwork h3 {
  text-align: center;
  font-weight: 400;
  color: rgb(255,22,177);
  font-family: "bilbo", sans-serif;
  font-size: 3rem;
}

.art span {
  font-size: 2rem;
  color: rgb(22,39,232);
  font-family: "marcellus sc", sans-serif;
}

.art span a {
  color: rgb(22,39,232);
}

.guarantee span {
  color: black;
  font-size: 1.4rem;
  letter-spacing: normal;
  margin: 0 4rem 0 4rem;
}

.pouring p {
  font-size: 0.9rem;
  color: rgb(22,39,232);
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .art span {
    font-size: 1.1rem;
    font-weight: bold;

  }
  .pouring p {
    font-size: 0.75rem;
  }

  .guarantee span {
    font-size: 1rem;
    margin: 0 2rem 0 2rem;

}

/* About Page */

.about {
  text-align: justify;
}

.about p {
  font-size: 1.33rem;
  font-family: "open sans";
  margin-top: 2rem;
  color: rgb(22,39,232); /* rgb(255,22,177) */
  line-height: 1.2;
}

@media only screen and (max-width: 768px) {
  .about p {
    font-size: 1rem;
  }

}
