html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}

body {
  padding-top: 82.5px;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Navbar */

.first {
  font-family: 'shadows into light', serif;
  font-size: 1.75rem;
  margin: 0 0 0.25rem 0rem;
  color: white;
}

.last {
  font-family: 'Marcellus SC', serif;
  font-size: 1.75rem;
  color: white;
}


.navbar-left a:hover {
  text-decoration: none;
  color: rgb(255,22,177) !important;
}

.navbar {
  background-color: rgb(22,39,232);
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  text-align: center;
  margin-bottom: 0;
  border: none;
}

.navbar-brand  p {
  margin-left: 1rem;
}

.navbar-nav a {
  color: white !important;
  font-size: 1.1rem;
  margin-top: 8px;

}

.active a {
  background-color: rgb(22,39,232) !important;
  color: rgb(255,22,177) !important;
}


/* Design section */

.art {
  margin: 0;
  font-family: "oregano";
  font-size: 6rem;
  color: rgb(255,22,177);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 6px;

}

@media only screen and (max-width: 1080px) {
  .art {
    font-size: 4rem;
    max-width: 100%;
  }

}

/* Jumbotron */

.jumbotron {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  height: 40rem;
  color: white;
  border: none;
}

.jumbotron p {
  font-size: 2rem;
  max-width: 100%;
}

.jumbotron h1 {
  margin-top: 15rem;
}

.open {
  background-image: url("../images/painting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans";
  font-weight: 300;
  border: none;
}

.oregano {
  background-image: url("../images/purplered.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "oregano";
}


.marcellus {
  background-image: url("../images/blackpurple.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "marcellus sc";
}

.shadows {
  background-image: url("../images/pinkyellow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Shadows into light";
}


/*Projects section */

#projects h2 {
  color: rgb(43,14,120);
  font-family: "marcellus sc";
}

.image-container {
  overflow: hidden;
  max-width: 100%;
  height: 20rem;

}

.image-container img {
  max-width: 100%;
  height: 100%;
}

.acd h3 {
  font-family: "oregano";
  color: rgb(255,22,177);
  font-size: 3rem;
}

.acd p {
  color: rgb(43,14,120);
  font-size: 1.5rem;
  font-family: "marcellus sc", serif;

}

.acd i {
  font-style: italic;
  color: rgb(43,14,120);
  font-size: 1.5rem;
  font-family: "marcellus sc", serif;
}

/*Footer */

.footer {
  background-color: rgb(42,219,255);
  color: white;
  margin-top: 3rem;
  padding: 3rem;
}

.footer .first {
  margin: 1rem 0.5rem 3rem 0.5rem;

}

#last .footer {
